<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>3d微改车</title>

    <link rel="stylesheet" href="/style/admin/style/styles.css" charset="utf-8">
    <script src="/style/admin/js/polyfill.js"></script>
    <!--<script src="/wgc/js/jquery.js"></script>-->
    <script src="/style/admin/js/lrz.bundle.js"></script>

</head>

<body>
    <section id="app" class="app">
        <router-view></router-view>
    </section>
    <script src="/style/admin/js/index.js"></script>

    <script src="//localhost:28417/livereload.js?snipver=1" async="" defer=""></script>
</body>

</html>
