<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/style/pcstyle/index.css" charset="utf-8">
</head>

<body>
    <div class="wrap-box">

        <div class='nav-bar <%if(typeof inpage=="undefined"){%>inpage<%}%>'>
            <div class="nav-meun format">
                <div class="logo">
                    <img src="/images/logo.png">
                </div>
                <i class="nav-icon" format></i>
                <ul class="nav-word resize-show" id="big-nav" format>
                    <li>
                        <a href="/case">我的案例</a>
                    </li>
                    <li>
                        <a href="/teach">网络学堂</a>
                    </li>
                    <li>
                        <a href="/news">资讯中心</a>
                    </li>
                    <li>
                        <a href="/about">关于我</a>
                    </li>
                    <li>
                        <a href="/contact">联系我</a>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            var path = window.location.pathname;
            var arr = path.split('/');
            var nav = document.getElementById('big-nav').getElementsByTagName('a');
            
            switch (arr[1]) {
                case 'case':
                    nav[0].className = "active"
                    break;
                case 'teach':
                    nav[1].className = "active"
                    break;
                case 'news':
                    nav[2].className = "active"
                    break;
                case '/about':
                    nav[3].className = "active"
                    break;
                case '/contact':
                    nav[4].className = "active"
                    break;

                default:
                    break;
            }
        </script>