<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/style/pcstyle/index.css" charset="utf-8">
</head>

<body>
    <div class="wrap-box">

    <div class='nav-bar <%if(typeof inpage=="undefined"){%>inpage<%}%>' >
        <div class="nav-meun format">
            <div class="logo">
                <img src="/images/logo.png">
            </div>
            <i class="nav-icon" format></i>
            <ul class="nav-word resize-show" format>
                <li>
                    <a routerlink="/" ng-reflect-router-link="/" href="/">首页</a>
    
                </li>
                <li>
                    <a routerlink="/brand" routerlinkactive="active" ng-reflect-router-link="/brand" ng-reflect-router-link-active="active" href="/brand"
                        class="active">品牌案例</a>
                </li>
                <li>
                    <a routerlink="/school" routerlinkactive="active" ng-reflect-router-link="/school" ng-reflect-router-link-active="active"
                        href="/school">网络学堂</a>
                </li>
                <li>
                    <a routerlink="/news" routerlinkactive="active" ng-reflect-router-link="/news" ng-reflect-router-link-active="active" href="/news">资讯中心</a>
                </li>
                <li>
                    <a routerlink="/about" routerlinkactive="active" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/about">关于一体</a>
                </li>
                <li>
                    <a routerlink="/contact" routerlinkactive="active" ng-reflect-router-link="/contact" ng-reflect-router-link-active="active"
                        href="/contact">联系我们</a>
                </li>
            </ul>
        </div>
    </div>


