<html lang="en">

<head>
    <meta charset="utf-8">
  
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>itvwork-一体互联网视觉设计</title>
    <meta name="description" content="一体互联网视觉设计工作室是一拥有强大技术的的工作室，可解决各种技术问题，为你解决互联网技术，app,web,摄影，印刷一体路技术" />
    <meta name="keywords" content="itvwork,设计,印刷,app开发,网站开发,佛山网站开发技术,佛山app开发技术,佛山顺德互联网,佛山印刷,顺德印刷，顺德ui设计,互联网技术支持,网络一体设计" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/style/pcstyle/index.css" charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
</head>

<body>
    <div class="wrap-box">
        <div class='nav-bar <%if(typeof inpage=="undefined"){%>inpage<%}%>' id="nav-bg">
            <div class="nav-meun format">
                <a class="logo" href="/">
                    <img src="/style/pcstyle/logo.png">
                </a>
                <i class="nav-icon" format></i>
                <ul class="nav-word resize-show" id="big-nav" format>
                    <li>
                        <a href="/case">品牌案例</a>
                    </li>
                    <li>
                        <a href="/teach">网络学堂</a>
                    </li>
                    <li>
                        <a href="/news">资讯中心</a>
                    </li>
                    <li>
                        <a href="/about">关于我们</a>
                    </li>
                    <li>
                        <a href="/contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            var path = window.location.pathname;
            var arr = path.split('/');
            var nav = document.getElementById('big-nav').getElementsByTagName('a');
            
            switch (arr[1]) {
                case 'case':
                    nav[0].className = "active"
                    break;
                case 'teach':
                    nav[1].className = "active"
                    break;
                case 'news':
                    nav[2].className = "active"
                    break;
                case '/about':
                    nav[3].className = "active"
                    break;
                case '/contact':
                    nav[4].className = "active"
                    break;

                default:
                    break;
            }
        </script>