
<%- include('./header') %>

<div class="teach-wrap">
    <div class="teach-select-type-bar">
        <div class="teach-select-main-box">
            <div class="teach-selct-bar-item">
                <div class="teach-select-title-bar">
                    方向:
                </div>
                <div class="teach-select-type-right">

                    <a class="teach-select-btn active" href="">前端</a>
                    <a class="teach-select-btn active" href="">后端</a>
                    <a class="teach-select-btn" href="">后端</a>
                    <a class="teach-select-btn" href="">后端</a>

                </div>
            </div>
            <div class="teach-selct-bar-item">
                <div class="teach-select-title-bar">
                    标签:
                </div>
                <div class="teach-select-type-right">

                    <a class="teach-select-btn active" href="">前端</a>
                    <a class="teach-select-btn active" href="">后端</a>
                    <a class="teach-select-btn" href="">后端</a>
                    <a class="teach-select-btn" href="">后端</a>

                </div>
            </div>
        </div>
    </div>
    <div class="teach-lessions-list">
        <ul class="teach-lession-ul">
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>
            <li class="teach-lession-item">
                <a class="teach-lession-link">
                    <div class="teach-lession-cover">
                        <img src="/images/b1.png" />
                          <div class="markbook-tips-bar"><span>node.js</span><span>html</span></div>
                    </div>
                    <div class="teach-lession-info">
                        <h2>搭建并行处理管道，感受GO语言魅力</h2>
                        <p class="teach-lession-level-bar"><span class="teach-lession-level">初级</span> <span class="teach-lession-view"><i class="icon-view"></i>30</span></p>
                        <p class="teach-lession-word">随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品
                        </p>
                    </div>
                </a>
            </li>

        </ul>
        <div class="clear"></div>
    </div>
</div>




<%- include('./footer') %>
