<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <base href="/#/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/pcstyle/index.css" charset="utf-8">
</head>

<body>
    <div class="wrap-box">

        <div class="nav-bar inpage">
            <div class="nav-meun format">
                <div class="logo">
                    <img src="/images/logo.png">
                </div>
                <i class="nav-icon" format=""></i>
                <ul class="nav-word resize-show" format="">
                    <li>
                        <a routerlink="/" ng-reflect-router-link="/" href="/">首页</a>

                    </li>
                    <li>
                        <a routerlink="/brand" routerlinkactive="active" ng-reflect-router-link="/brand" ng-reflect-router-link-active="active" href="/brand"
                            class="active">品牌案例</a>
                    </li>
                    <li>
                        <a routerlink="/school" routerlinkactive="active" ng-reflect-router-link="/school" ng-reflect-router-link-active="active"
                            href="/school">网络学堂</a>
                    </li>
                    <li>
                        <a routerlink="/news" routerlinkactive="active" ng-reflect-router-link="/news" ng-reflect-router-link-active="active" href="/news">资讯中心</a>
                    </li>
                    <li>
                        <a routerlink="/about" routerlinkactive="active" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/about">关于一体</a>
                    </li>
                    <li>
                        <a routerlink="/contact" routerlinkactive="active" ng-reflect-router-link="/contact" ng-reflect-router-link-active="active"
                            href="/contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="outer-wrap">
            <div class="main-wrap">
                <div class="case-banner">
                    <ul>
                        <li>
                            <img src="/images/casebg.jpg" />
                        </li>
                    </ul>
                </div>


                <ul class="case-list" style="padding-top:50px;">
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>

                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
               
                <div class="page">
                    <a href="/case?page=1">上一页</a>
                    <a class="" href="/case?page=1">1</a>
                    <span class="active">2</span>
                    <a class="" href="/case?page=3">3</a>
                    <a class="" href="/case?page=4">4</a>
                    <a class="" href="/case?page=5">5</a>
                    <a class="" href="/case?page=6">6</a>
                    <a class="" href="/case?page=7">7</a>
                    <a class="" href="/case?page=8">8</a>
                    <a class="" href="/case?page=9">9</a>
                    <a class="" href="/case?page=10">10</a>
                    <a class="" href="/case?page=11">11</a>
                    <a class="" href="/case?page=12">12</a>
                    <a class="" href="/case?page=13">13</a>
                    <a href="/case?page=2500">下一页</a>
                </div>
            </div>
        </div>

        <div class="left-nav">
            <ul class="ul-left-nav">
                <li>
                    <a class="active" href="#">
                        <i class="icon-flat"> </i>
                        平面
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-ui"> </i>
                        UI
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-web"> </i>
                        网页
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-camera"> </i>
                        摄影
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-mess"> </i>
                        留言
                    </a>
                </li>
            </ul>
        </div>


        <div class="footer-outer">
            <div class="content-footer">
                <div class="link-bar">
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                </div>
                <div class="footer-copyright">© 2013-2016 微诚金服旗下品牌-网贷互联 www.wd361.com 广东嘉联投资有限公司 粤ICP备13050344号-3</div>
            </div>
        </div>

    </div>




</body>

</html>