<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <base href="/#/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/pcstyle/index.css" charset="utf-8">
</head>

<body>
    <div class="wrap-box">

        <div class="nav-bar inpage">
            <div class="nav-meun format">
                <div class="logo">
                    <img src="/images/logo.png">
                </div>
                <i class="nav-icon" format=""></i>
                <ul class="nav-word resize-show" format="">
                    <li>
                        <a routerlink="/" ng-reflect-router-link="/" href="/">首页</a>

                    </li>
                    <li>
                        <a routerlink="/brand" routerlinkactive="active" ng-reflect-router-link="/brand" ng-reflect-router-link-active="active" href="/brand"
                            class="active">品牌案例</a>
                    </li>
                    <li>
                        <a routerlink="/school" routerlinkactive="active" ng-reflect-router-link="/school" ng-reflect-router-link-active="active"
                            href="/school">网络学堂</a>
                    </li>
                    <li>
                        <a routerlink="/news" routerlinkactive="active" ng-reflect-router-link="/news" ng-reflect-router-link-active="active" href="/news">资讯中心</a>
                    </li>
                    <li>
                        <a routerlink="/about" routerlinkactive="active" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/about">关于一体</a>
                    </li>
                    <li>
                        <a routerlink="/contact" routerlinkactive="active" ng-reflect-router-link="/contact" ng-reflect-router-link-active="active"
                            href="/contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="wrap-detail">
            <h1 class="title">渐变人物简单教程（psd源文件分享）</h1>
            <div class="teach-sort">分类：移动应用界面/主题</div>
            <div class="detail-content">

                经常有朋友在做设计时候，设计稿阶段颜色很漂亮，但是一到打印的时候颜色就各种的灰，各种的脏，这是每个人都遇到过一些问题，今天我们分享一个小点，帮你揭秘颜色的那些奥秘，特别是RGB色和CMYK颜色一些转换，希望在工作中能帮助到大家，大家如果对本期分享有任何困惑欢迎微信联系我，一起来让我们设计变的更加科学！更多分享也欢迎添加uiskys

            </div>
            <div class="source">

                <a href="#" class="source-link">本篇文章来自UI中国转载</a>
                <span class="write">作者：
                    <a href="#">科技 </a>
                </span>
                <span>
                    <i class="icon-date"></i>2017-04-11</span>
                <span>
                    <i class="icon-view"></i>505</span>
            </div>

            <div class="change-artcle">
                 <span>上一篇：<a href="#">上一篇</a></span> 
                 <span>下一篇：<a href="#">下一篇</a></span>    
                
            </div>
            <div class="share-bar">
                
                <div class="bdsharebuttonbox" data-tag="share_1">
                        <span class="share-bar-title">分享至</span>
                    <a class="bds_weixin" data-cmd="weixin">

                    </a>
                    <a class="bds_qzone" data-cmd="qzone" href="#"></a>
                    <a class="bds_tsina" data-cmd="tsina"></a>
                    <a class="bds_sqq" data-cmd="sqq" href="#"></a>

                    <a class="bds_count" data-cmd="count" style="display:none"></a>
                </div>
                <script>
                    window._bd_share_config = {
                        common: {
                            bdText: 'itv工作室',
                            bdDesc: 'itv工作室',
                            bdUrl: 'http://www.baiud.com',
                            bdPic: '',
                        },
                        share: [{
                                "bdSize": 32,
                                "bdCustomStyle": "<style></style>"
                            }


                        ],
                        image: [
                            //此处放置图片分享设置
                        ],
                      
                    }
                    // <a data-cmd="weixin" style="padding-left:0px;"><img src="/pcstyle/icon_01.png"/></a>
                    // <a data-cmd="qzone"  style="padding-left:0px;"><img src="/pcstyle/icon_09.png" /></a>
                    // <a style="padding-left:0px;" data-cmd="tsina"><img src="/pcstyle/icon_07.png" /></a>
                    //以下为js加载部分
                    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src =
                        'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
                </script>
            </div>

        </div>


        <div class="footer-outer">
            <div class="content-footer">
                <div class="link-bar">
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                </div>
                <div class="footer-copyright">© 2013-2016 微诚金服旗下品牌-网贷互联 www.wd361.com 广东嘉联投资有限公司 粤ICP备13050344号-3</div>
            </div>
        </div>

    </div>




</body>

</html>