<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <base href="/#/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/pcstyle/index.css" charset="utf-8">
</head>

<body>
    <div class="wrap-box">

        <div class="nav-bar">
            <nav class="nav-meun format">
                <div class="logo">
                    <img src="/images/logo.png">
                </div>
                <i class="nav-icon" format></i>
                <ul class="nav-word resize-show" format>
                    <li>
                        <a routerlink="/" ng-reflect-router-link="/" href="/">首页</a>

                    </li>
                    <li>
                        <a routerlink="/brand" routerlinkactive="active" ng-reflect-router-link="/brand" ng-reflect-router-link-active="active" href="/brand"
                            class="active">品牌案例</a>
                    </li>
                    <li>
                        <a routerlink="/school" routerlinkactive="active" ng-reflect-router-link="/school" ng-reflect-router-link-active="active"
                            href="/school">网络学堂</a>
                    </li>
                    <li>
                        <a routerlink="/news" routerlinkactive="active" ng-reflect-router-link="/news" ng-reflect-router-link-active="active" href="/news">资讯中心</a>
                    </li>
                    <li>
                        <a routerlink="/about" routerlinkactive="active" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/about">关于一体</a>
                    </li>
                    <li>
                        <a routerlink="/contact" routerlinkactive="active" ng-reflect-router-link="/contact" ng-reflect-router-link-active="active"
                            href="/contact">联系我们</a>
                    </li>
                </ul>
            </nav>
        </div>


        <div class="banner">
            <ul class="banner-ul">
                <li>
                    <img src="/images/banner.jpg" />
                </li>
            </ul>
        </div>


        <div class="main-home">
            <div class="main-home-indoor">
                <ul class="icon-home-ul">
                    <li>
                        <i>
                            <img src="/images/icon1.png"> </i>
                        <h4>平面</h4>
                        <p>包装、画册、折页、宣传单、展架
                            <br/>海报、企业VI、LOGO、名片</p>
                    </li>
                    <li>
                        <i>
                            <img src="/images/icon2.png"> </i>
                        <h4>UI</h4>
                        <p>APP设计及开发、后期技术运行上
                            <br/>线、微信H5营销界面设计</p>
                    </li>
                    <li>
                        <i>
                            <img src="/images/icon3.png"> </i>
                        <h4>网页</h4>
                        <p>高端企业网站定制、商城定制、
                            <br/>天猫淘宝店铺界面设计及维护</p>
                    </li>

                    <li>
                        <i>
                            <img src="/images/icon4.png"> </i>
                        <h4>摄影</h4>
                        <p>产品专业视觉摄影并优化
                            <br/>及处理</p>
                    </li>

                </ul>
                <ul class="home-case">
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>

                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>
                    <li class="home-case-item">
                        <div class="acitve-hover"></div>
                        <a class="home-case-link" href="#">
                            <img src="/images/b1.png" />
                            <h2 format>
                                <span class="home-brand-name">[R&H]品牌]</span>
                                <span class="home-brand-subname">包装设计及印刷</span>
                            </h2>
                        </a>
                        <a class="home-brand-classify">
                            平面
                        </a>
                    </li>

                </ul>

            </div>


        </div>






        <footer-box>
            <footer class="footer-outer">
                <div class="content-footer">
                    <div class="link-bar">
                        <a href="#">关于我们</a>|
                        <a href="#">关于我们</a>|
                        <a href="#">关于我们</a>|
                        <a href="#">关于我们</a>|
                        <a href="#">关于我们</a>|
                        <a href="#">关于我们</a>|
                    </div>
                    <div class="footer-copyright">© 2013-2016 微诚金服旗下品牌-网贷互联 www.wd361.com 广东嘉联投资有限公司 粤ICP备13050344号-3</div>
                </div>
            </footer>
        </footer-box>
    </div>




</body>

</html>