<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <base href="/#/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/pcstyle/index.css" charset="utf-8">
</head>

<body>
    <div class="wrap-box">

        <div class="nav-bar inpage">
            <div class="nav-meun format">
                <div class="logo">
                    <img src="/images/logo.png">
                </div>
                <i class="nav-icon" format=""></i>
                <ul class="nav-word resize-show" format="">
                    <li>
                        <a routerlink="/" ng-reflect-router-link="/" href="/">首页</a>

                    </li>
                    <li>
                        <a routerlink="/brand" routerlinkactive="active" ng-reflect-router-link="/brand" ng-reflect-router-link-active="active" href="/brand">品牌案例</a>
                    </li>
                    <li>
                        <a routerlink="/school" routerlinkactive="active" ng-reflect-router-link="/school" ng-reflect-router-link-active="active"
                            href="/school" class="">网络学堂</a>
                    </li>
                    <li>
                        <a routerlink="/news" routerlinkactive="active" ng-reflect-router-link="/news" ng-reflect-router-link-active="active" href="/news"
                            class="active">资讯中心</a>
                    </li>
                    <li>
                        <a routerlink="/about" routerlinkactive="active" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/about">关于一体</a>
                    </li>
                    <li>
                        <a routerlink="/contact" routerlinkactive="active" ng-reflect-router-link="/contact" ng-reflect-router-link-active="active"
                            href="/contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="outer-wrap">
            <div class="main-wrap">
                <div class="left-news-box">
                    <ul class="news-list">
                        <li class="news-item">
                            <div class="cricle-pot">
                                <i class="cricle"></i>
                            </div>
                           
                            <a class="news-title">用户体验设计大会互动论坛讨论啥？问题由你定！还能赢取</a>
                            <p class="news-info">距离UI中国第九届用户体验设计大会还有10天！！小伙伴们，你们会来吗？在本次大会中的互动论坛环节，5位业内知名的设计专家以及7位UI中国的资深用户将会分别围绕“设计部门建设及发展”......</p>

                            <div class="new-item-bar">
                                <div class="author">
                                    <em format> 作者：</em>
                                    <span>作者姓名</span>
                                </div>
                                <div class="send-date">
                                    <i class="icon-date"></i> 2017-08-16
                                </div>
                                <div class="view-bar">
                                    <i class="icon-view"></i> 595
                                </div>
                                <i class="icon-share"></i>
                            </div>
                            
                        </li>
                        <li class="news-item">
                            <div class="cricle-pot">
                                <i class="cricle"></i>
                            </div>
                        
                            <a class="news-title">用户体验设计大会互动论坛讨论啥？问题由你定！还能赢取</a>
                            <p class="news-info">距离UI中国第九届用户体验设计大会还有10天！！小伙伴们，你们会来吗？在本次大会中的互动论坛环节，5位业内知名的设计专家以及7位UI中国的资深用户将会分别围绕“设计部门建设及发展”......</p>
                        
                            <div class="new-item-bar">
                                <div class="author">
                                    <em format> 作者：</em>
                                    <span>作者姓名</span>
                                </div>
                                <div class="send-date">
                                    <i class="icon-date"></i> 2017-08-16
                                </div>
                                <div class="view-bar">
                                    <i class="icon-view"></i> 595
                                </div>
                                <i class="icon-share"></i>
                            </div>
                        
                        </li>
                        <li class="news-item">
                            <div class="cricle-pot">
                                <i class="cricle"></i>
                            </div>
                        
                            <a class="news-title">用户体验设计大会互动论坛讨论啥？问题由你定！还能赢取</a>
                            <p class="news-info">距离UI中国第九届用户体验设计大会还有10天！！小伙伴们，你们会来吗？在本次大会中的互动论坛环节，5位业内知名的设计专家以及7位UI中国的资深用户将会分别围绕“设计部门建设及发展”......</p>
                        
                            <div class="new-item-bar">
                                <div class="author">
                                    <em format> 作者：</em>
                                    <span>作者姓名</span>
                                </div>
                                <div class="send-date">
                                    <i class="icon-date"></i> 2017-08-16
                                </div>
                                <div class="view-bar">
                                    <i class="icon-view"></i> 595
                                </div>
                                <i class="icon-share"></i>
                            </div>
                        
                        </li>
                        <li class="news-item">
                            <div class="cricle-pot">
                                <i class="cricle"></i>
                            </div>
                        
                            <a class="news-title">用户体验设计大会互动论坛讨论啥？问题由你定！还能赢取</a>
                            <p class="news-info">距离UI中国第九届用户体验设计大会还有10天！！小伙伴们，你们会来吗？在本次大会中的互动论坛环节，5位业内知名的设计专家以及7位UI中国的资深用户将会分别围绕“设计部门建设及发展”......</p>
                        
                            <div class="new-item-bar">
                                <div class="author">
                                    <em format> 作者：</em>
                                    <span>作者姓名</span>
                                </div>
                                <div class="send-date">
                                    <i class="icon-date"></i> 2017-08-16
                                </div>
                                <div class="view-bar">
                                    <i class="icon-view"></i> 595
                                </div>
                                <i class="icon-share"></i>
                            </div>
                        
                        </li>
                        <li class="news-item">
                            <div class="cricle-pot">
                                <i class="cricle"></i>
                            </div>
                        
                            <a class="news-title">用户体验设计大会互动论坛讨论啥？问题由你定！还能赢取</a>
                            <p class="news-info">距离UI中国第九届用户体验设计大会还有10天！！小伙伴们，你们会来吗？在本次大会中的互动论坛环节，5位业内知名的设计专家以及7位UI中国的资深用户将会分别围绕“设计部门建设及发展”......</p>
                        
                            <div class="new-item-bar">
                                <div class="author">
                                    <em format> 作者：</em>
                                    <span>作者姓名</span>
                                </div>
                                <div class="send-date">
                                    <i class="icon-date"></i> 2017-08-16
                                </div>
                                <div class="view-bar">
                                    <i class="icon-view"></i> 595
                                </div>
                                <i class="icon-share"></i>
                            </div>
                        
                        </li>
                        <li class="news-item">
                            <div class="cricle-pot">
                                <i class="cricle"></i>
                            </div>
                        
                            <a class="news-title">用户体验设计大会互动论坛讨论啥？问题由你定！还能赢取</a>
                            <p class="news-info">距离UI中国第九届用户体验设计大会还有10天！！小伙伴们，你们会来吗？在本次大会中的互动论坛环节，5位业内知名的设计专家以及7位UI中国的资深用户将会分别围绕“设计部门建设及发展”......</p>
                        
                            <div class="new-item-bar">
                                <div class="author">
                                    <em format> 作者：</em>
                                    <span>作者姓名</span>
                                </div>
                                <div class="send-date">
                                    <i class="icon-date"></i> 2017-08-16
                                </div>
                                <div class="view-bar">
                                    <i class="icon-view"></i> 595
                                </div>
                                <i class="icon-share"></i>
                            </div>
                        
                        </li>
                    </ul>
                    
                </div>




                <div class="hot-brand-right-nav">
                    <h1>
                        案例推荐
                        <i class="icon-more"></i>
                    </h1>
                    <ul class="hot-brand-list">
                        <li class="item-hot-brand">
                            <a class="img" href="#">
                                <img src="/images/b5.jpg">
                            </a>
                            <a class="title">
                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                        </li>
                        <li class="item-hot-brand">
                            <a class="img" href="#">
                                <img src="/images/b5.jpg">
                            </a>
                            <a class="title">
                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                        </li>
                        <li class="item-hot-brand">
                            <a class="img" href="#">
                                <img src="/images/b5.jpg">
                            </a>
                            <a class="title">
                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                        </li>
                        <li class="item-hot-brand">
                            <a class="img" href="#">
                                <img src="/images/b5.jpg">
                            </a>
                            <a class="title">
                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                        </li>


                    </ul>
                </div>

            </div>
        </div>


        <div class="footer-outer">
            <div class="content-footer">
                <div class="link-bar">
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                </div>
                <div class="footer-copyright">© 2013-2016 微诚金服旗下品牌-网贷互联 www.wd361.com 广东嘉联投资有限公司 粤ICP备13050344号-3</div>
            </div>
        </div>

    </div>


</body>

</html>