<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <base href="/#/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/pcstyle/index.css" charset="utf-8">

   
</head>

<body>

        <section class="wrap-box">
            <meun-nav ng-reflect-opac="true">
                <section class="nav-bar inpage" ng-reflect-klass="nav-bar" ng-reflect-ng-class="[object Object]">
                    <nav class="format">
                        <div class="logo">
                            <img src="/images/logo.png">
                        </div>
                        <i class="nav-icon" format=""></i>
                        <ul class="nav-word resize-show" format="">
                            <li>
                                <a routerlink="/" ng-reflect-router-link="/" href="/">首页</a>

                            </li>
                            <li>
                                <a routerlink="/brand" routerlinkactive="active" ng-reflect-router-link="/brand" ng-reflect-router-link-active="active" href="/brand"
                                    class="">品牌案例</a>
                            </li>
                            <li>
                                <a routerlink="/school" routerlinkactive="active" ng-reflect-router-link="/school" ng-reflect-router-link-active="active"
                                    href="/school" class="active">网络学堂</a>
                            </li>
                            <li>
                                <a routerlink="/news" routerlinkactive="active" ng-reflect-router-link="/news" ng-reflect-router-link-active="active" href="/news"
                                    class="">资讯中心</a>
                            </li>
                            <li>
                                <a routerlink="/about" routerlinkactive="active" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/about"
                                    class="">关于一体</a>
                            </li>
                            <li>
                                <a routerlink="/contact" routerlinkactive="active" ng-reflect-router-link="/contact" ng-reflect-router-link-active="active"
                                    href="/contact">联系我们</a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </meun-nav>
            <router-outlet></router-outlet>
            <index-box>

                <router-outlet></router-outlet>
                <list-box>
                    <section class="outer-wrap">
                        <div class="main-wrap">
                            <div class="left-school-list">
                                <ul class="sub-nav">
                                    <li>
                                        <a class="active" href="#">平面</a>
                                    </li>
                                    <li>
                                        <a href="#">UI</a>
                                    </li>
                                    <li>
                                        <a href="#">网页</a>
                                    </li>
                                    <li>
                                        <a href="#">摄影</a>
                                    </li>
                                </ul>


                                <ul class="ul-school">
                                    <li class="item-teach">
                                        <a class="img">
                                            <img src="/images/b8.jpg">
                                        </a>
                                        <div class="shcool-info">
                                            <h2>
                                                <a class="title">解锁新技能之“PS融合效果</a>
                                                <i class="icon-share"></i>
                                            </h2>
                                            <p>
                                                这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。
                                            </p>
                                            <div class="item-bar">
                                                <div class="author">
                                                    <em>
                                                        <img src="/images/header.jpg">
                                                    </em>
                                                    <span>作者姓名</span>
                                                </div>
                                                <div class="send-date">
                                                    <i class="icon-date"></i> 2017-08-16
                                                </div>
                                                <div class="view-bar">
                                                    <i class="icon-view"></i> 595
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item-teach">
                                        <a class="img">
                                            <img src="/images/b8.jpg">
                                        </a>
                                        <div class="shcool-info">
                                            <h2>
                                                <a class="title">解锁新技能之“PS融合效果</a>
                                                <i class="icon-share"></i>
                                            </h2>
                                            <p>
                                                这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。
                                            </p>
                                            <div class="item-bar">
                                                <div class="author">
                                                    <em>
                                                        <img src="/images/header.jpg">
                                                    </em>
                                                    <span>作者姓名</span>
                                                </div>
                                                <div class="send-date">
                                                    <i class="icon-date"></i> 2017-08-16
                                                </div>
                                                <div class="view-bar">
                                                    <i class="icon-view"></i> 595
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item-teach">
                                        <a class="img">
                                            <img src="/images/b8.jpg">
                                        </a>
                                        <div class="shcool-info">
                                            <h2>
                                                <a class="title">解锁新技能之“PS融合效果</a>
                                                <i class="icon-share"></i>
                                            </h2>
                                            <p>
                                                这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。
                                            </p>
                                            <div class="item-bar">
                                                <div class="author">
                                                    <em>
                                                        <img src="/images/header.jpg">
                                                    </em>
                                                    <span>作者姓名</span>
                                                </div>
                                                <div class="send-date">
                                                    <i class="icon-date"></i> 2017-08-16
                                                </div>
                                                <div class="view-bar">
                                                    <i class="icon-view"></i> 595
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item-teach">
                                        <a class="img">
                                            <img src="/images/b8.jpg">
                                        </a>
                                        <div class="shcool-info">
                                            <h2>
                                                <a class="title">解锁新技能之“PS融合效果</a>
                                                <i class="icon-share"></i>
                                            </h2>
                                            <p>
                                                这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。
                                            </p>
                                            <div class="item-bar">
                                                <div class="author">
                                                    <em>
                                                        <img src="/images/header.jpg">
                                                    </em>
                                                    <span>作者姓名</span>
                                                </div>
                                                <div class="send-date">
                                                    <i class="icon-date"></i> 2017-08-16
                                                </div>
                                                <div class="view-bar">
                                                    <i class="icon-view"></i> 595
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item-teach">
                                        <a class="img">
                                            <img src="/images/b8.jpg">
                                        </a>
                                        <div class="shcool-info">
                                            <h2>
                                                <a class="title">解锁新技能之“PS融合效果</a>
                                                <i class="icon-share"></i>
                                            </h2>
                                            <p>
                                                这不仅仅是一篇经验，而是前辈用日积月累得工作心得，用笔记用脑想，最重要得是要走心。还有我是占位符不是简介。
                                            </p>
                                            <div class="item-bar">
                                                <div class="author">
                                                    <em>
                                                        <img src="/images/header.jpg">
                                                    </em>
                                                    <span>作者姓名</span>
                                                </div>
                                                <div class="send-date">
                                                    <i class="icon-date"></i> 2017-08-16
                                                </div>
                                                <div class="view-bar">
                                                    <i class="icon-view"></i> 595
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <hotbrand>
                                <div class="hot-brand-right-nav">
                                    <h1>
                                        案例推荐
                                        <i class="icon-more"></i>
                                    </h1>
                                    <ul class="hot-brand-list">
                                        <li class="item-hot-brand">
                                            <a class="img" href="#">
                                                <img src="/images/b5.jpg">
                                            </a>
                                            <a class="title">
                                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                                        </li>
                                        <li class="item-hot-brand">
                                            <a class="img" href="#">
                                                <img src="/images/b5.jpg">
                                            </a>
                                            <a class="title">
                                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                                        </li>
                                        <li class="item-hot-brand">
                                            <a class="img" href="#">
                                                <img src="/images/b5.jpg">
                                            </a>
                                            <a class="title">
                                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                                        </li>
                                        <li class="item-hot-brand">
                                            <a class="img" href="#">
                                                <img src="/images/b5.jpg">
                                            </a>
                                            <a class="title">
                                                <em>【 微诚金服 】</em>日历整套设计与印刷</a>
                                        </li>


                                    </ul>
                                </div>
                            </hotbrand>
                        </div>
                    </section>
                </list-box>

            </index-box>
            <footer-box>
                <footer class="footer-outer">
                    <div class="content-footer">
                        <div class="link-bar">
                            <a href="#">关于我们</a>|
                            <a href="#">关于我们</a>|
                            <a href="#">关于我们</a>|
                            <a href="#">关于我们</a>|
                            <a href="#">关于我们</a>|
                            <a href="#">关于我们</a>|
                        </div>
                        <div class="footer-copyright">© 2013-2016 微诚金服旗下品牌-网贷互联 www.wd361.com 广东嘉联投资有限公司 粤ICP备13050344号-3</div>
                    </div>
                </footer>
            </footer-box>
        </section>

</body>

</html>