<html lang="en">

<head>
    <meta charset="utf-8">
    <title>tivs</title>
    <base href="/#/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/pcstyle/index.css" charset="utf-8">
</head>

<body>
    <div class="wrap-box">

        <div class="nav-bar inpage">
            <div class="nav-meun format">
                <div class="logo">
                    <img src="/images/logo.png">
                </div>
                <i class="nav-icon" format=""></i>
                <ul class="nav-word resize-show" format="">
                    <li>
                        <a routerlink="/" ng-reflect-router-link="/" href="/">首页</a>
                    </li>
                    <li>
                        <a routerlink="/brand" routerlinkactive="active" ng-reflect-router-link="/brand" ng-reflect-router-link-active="active" href="/brand" class="active">品牌案例</a>
                    </li>
                    <li>
                        <a routerlink="/school" routerlinkactive="active" ng-reflect-router-link="/school" ng-reflect-router-link-active="active" href="/school">网络学堂</a>
                    </li>
                    <li>
                        <a routerlink="/news" routerlinkactive="active" ng-reflect-router-link="/news" ng-reflect-router-link-active="active" href="/news">资讯中心</a>
                    </li>
                    <li>
                        <a routerlink="/about" routerlinkactive="active" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/about">关于一体</a>
                    </li>
                    <li>
                        <a routerlink="/contact" routerlinkactive="active" ng-reflect-router-link="/contact" ng-reflect-router-link-active="active" href="/contact">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="teach-wrap">
            <div class="teach-top-bar">
                <div class="teach-detail-top-content">
                    <div class="web-path">
                        课程 \UI设计 \动效动画 \UI动效入门知识储备
                    </div>
                    <h1 class="teach-title-detail">UI动效入门知识储备</h1>
                    <ul class="teach-tips-level">
                        <li class="teach-level-tips-item">
                            <p>难度级别</p>
                            <p>初级</p>
                        </li>
                        <li class="teach-level-tips-item">
                            <p>课程时长</p>
                            <p>10小时</p>
                        </li>
                        <li class="teach-level-tips-item">
                            <p>观看次数</p>
                            <p>1000</p>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="teach-detail-content-info">
                <div class="teach-detail-content-left">
                    <div class="teach-detail-info">
                        简介：随着国际大品牌苹果和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品用户体验中的重要性，更多的设计师们也开始投身动效设计领域，为什么需要动效设计？本套课程将带领大家了解、学习动效的重要特性，使用动效帮我们提升UX，从而使UI界面显得更加一致和真实，并给整个产品带来创新的感觉。

                    </div>
                    <div class="teach-detail-list-wrap">
                        <div class="teach-tab-btn">
                            <span>章节</span>
                        </div>
                        <ul class="teach-list-art-box">
                            <li class="item-link-lession">
                                <a href="">一、课程介绍</a>
                            </li>
                            <li class="item-link-lession">
                                <a href="">二、什么是动效设计</a>
                            </li>
                            <li class="item-link-lession">
                                <a href="">三、动效设计在体验时代的必要性</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="teach-detail-content-right">
                    <div class="right-teacher-info">
                        <div class="right-teacher-bar">
                            <div class="right-teacher-header">
                              <img src="/images/icon1.png" />
                            </div>
                            <div class="right-teacher-info">
                                  <h2>蓝诀</h2>
                                  <p>全栈工程师</p>
                            </div>

                        </div>
                        <div class="teacher-lession-tips">
                              和谷歌的引领，越来越多的国内公司开始关注动效设计，越来越多的团队已经意识到动效在产品用户体验中的重要性，更多的设计师们也开始投身动效设计领域，为什么需要动效设计？本套课程将带领大家了解、学习动效的重要特性，使用动效帮我们提升UX，从而使UI界面显得更加一致和真实，并给整个产品带来创新的感觉

                        </div>
                    </div>
                </div>





            </div>
        </div>

        <div class="footer-outer">
            <div class="content-footer">
                <div class="link-bar">
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                    <a href="#">关于我们</a>|
                </div>
                <div class="footer-copyright">© 2013-2016 微诚金服旗下品牌-网贷互联 www.wd361.com 广东嘉联投资有限公司 粤ICP备13050344号-3</div>
            </div>
        </div>

    </div>




</body>

</html>
