.drag(@a: none, @b: drag) {
    -webkit-user-select: @a; //禁止选中文字
    -webkit-app-region: @b; //拖动
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.border-radius(@a, @b) when(@a=0) {
    border-radius: @b;
    -webkit-border-radius: @b;
    -moz-border-radius: @b
}

.border-radius(@a, @b) when(@a=1) {
    border-top-left-radius: @b;
    -webkit-border-top-left-radius: @b;
    -moz-border-top-left-radius: @b;
}

.border-radius(@a, @b) when(@a=2) {
    border-top-right-radius: @b;
    -webkit-border-top-right-radius: @b;
    -moz-border-top-right-radius: @b;
}

.border-radius(@a, @b) when(@a=3) {
    border-bottom-right-radius: @b;
    -webkit-border-bottom-right-radius: @b;
    -moz-border-bottom-right-radius: @b
}

.border-radius(@a, @b) when(@a=4) {
    border-bottom-left-radius: @b;
    -webkit-border-bottom-left-radius: @b;
    -moz-border-bottom-left-radius: @b
}

.border(@a, @b: solid, @c: 1px, @d: 1, @f: 221, @g: 221, @h: 221) when (@a=0) {
    border: rgba(@f, @g, @h, @d) @b @c;
}

.border(@a, @b: solid, @c: 1px, @d: 1, @f: 221, @g: 221, @h: 221) when(@a=1) {
    border-top: rgba(@f, @g, @h, @d) @b @c;
}

.border(@a, @b: solid, @c: 1px, @d: 1, @f: 221, @g: 221, @h: 221) when(@a=2) {
    border-right: rgba(@f, @g, @h, @d) @b @c;
}

.border(@a, @b: solid, @c: 1px, @d: 1, @f: 221, @g: 221, @h: 221) when(@a=3) {
    border-bottom: rgba(@f, @g, @h, @d) @b @c;
}

.border(@a, @b: solid, @c: 1px, @d: 1, @f: 221, @g: 221, @h: 221) when(@a=4) {
    border-left: rgba(@f, @g, @h, @d) @b @c;
}

.text-over(@row) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: @row;
    -webkit-box-orient: vertical;
}

.box-shadow(@a: 0px, @b: 0px, @c: 10px, @e: 0.2) {
    box-shadow: @a @b @c rgba(0, 0, 0, @e);
    -webkit-box-shadow: @a @b @c rgba(0, 0, 0, @e);
}

.text-shadow(@a: 0.4, @b: 1px, @c: 1px, @d: 3px) {
    text-shadow: @b @c @d rgba(0, 0, 0, @a);
}

.display(@a: flex) {
    display: @a;
    display: -webkit-@a;
}

.flex {
    display: flex;
  
}

.tx(@a: 0) {
    transform: translateX(@a);
    -webkit-transform: translateX(@a);
    -moz-transform: translateX(@a);
}


.ty(@a: 0) {
    transform: translateY(@a);
    -webkit-transform: translateY(@a);
    -moz-transform: translateY(@a);
}

.box-sizing(@a: border-box) {
    box-sizing: @a;
    -webkit-box-sizing: @a;
    -moz-box-sizing: @a;
    -o-box-sizing: @a;
}

.main-bg-color ( @a: 1,@b: 0, @c: 218, @d: 224) {

    background:rgba(@b, @c, @d, @a);
}


.selnone {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@white: rgba(255, 255, 255, 1);
@mainColor: rgba(0, 218, 224, 1);
@gray: #aaa;
@iconColor: #888;
@bgcolor: #f1f1f1;
@debtn: #eee;
@errColor: #e60012;
@wordColor: #333;
@mcolor: #00cccc;
@bodyColor: #eee;
@line: #bbb;
@wordgray:#999;
@bg:#f6f7f8;



@line: #ddd;
@icon: #999;
@tips: #888;
@bg: #fafbfd;
@warn: #FF9900;
@pass: #3CC51F;
@word: #333;
@color1: #fafafd;
@color2: #d6d8df;
@color3: #fc9a98;
@color4: #7da6e2;
@color5: #57d2c5;
@color1: #0de2ac;
@bar: #eee;
@yellow: #ffe26d;
@line2: #dfdfdf;
//---------------
@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 46.7%); // #777
@gray-lights: lighten(#000, 80%);
@gray-lighter: lighten(#000, 93.5%); // #eee
//---------------
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
//---------------安全色
@scolor1: #000;
@scolor2: #000033;
@scolor3: #000066;
@scolor4: #000099;
@scolor5: #0000cc;
@scolor6: #0000ff;
@scolor7: #003300;
@scolor8: #003333;
@scolor9: #003366;
@scolor10: #003399;
@scolor11: #0033cc;
@scolor12: #0033ff;
@scolor13: #006600;
@scolor14: #006633;
@scolor15: #006666;
@scolor16: #006699;
@scolor17: #0066cc;
@scolor18: #0066ff;
@scolor19: #009900;
@scolor20: #009933;
@scolor21: #009966;
@scolor22: #009999;
@scolor23: #0099cc;
@scolor24: #0099ff;
@scolor25: #00cc00;
@scolor26: #00cc33;
@scolor27: #00cc66;
@scolor28: #00cc99;
@scolor29: #00cccc;
@scolor30: #00ccff;
@scolor31: #00ff00;
@scolor32: #00ff33;
@scolor33: #00ff66;
@scolor34: #00ff99;
@scolor35: #00ffcc;
@scolor36: #00ffff;
@scolor37: #330000;
@scolor38: #330033;
@scolor39: #330066;
@scolor40: #330099;
@scolor41: #3300cc;
@scolor42: #3300ff;
@scolor43: #333300;
@scolor44: #333333;
@scolor45: #333366;
@scolor46: #333399;
@scolor47: #3333cc;
@scolor48: #3333ff;
@scolor49: #336600;
@scolor50: #336633;
@scolor51: #336666;
@scolor52: #336699;
@scolor53: #3366cc;
@scolor54: #3366ff;
@scolor55: #339900;
@scolor56: #339933;
@scolor57: #339966;
@scolor58: #339999;
@scolor59: #3399cc;
@scolor60: #3399ff;
@scolor61: #33cc00;
@scolor62: #33cc33;
@scolor63: #33cc66;
@scolor64: #33cc99;
@scolor65: #33cccc;
@scolor66: #33ccff;
@scolor67: #33ff00;
@scolor68: #33ff33;
@scolor69: #33ff66;
@scolor70: #33ff99;
@scolor71: #33ffcc;
@scolor72: #33ffff;
@scolor73: #660000;
@scolor64: #660033;
@scolor75: #660066;
@scolor76: #660099;
@scolor77: #6600cc;
@scolor78: #6600ff;
@scolor79: #663300;
@scolor80: #663333;
@scolor81: #663399;
@scolor82: #6633cc;
@scolor83: #6633ff;
@scolor84: #666600;
@scolor85: #666633;
@scolor86: #666666;
@scolor87: #666699;
@scolor88: #6666cc;
@scolor89: #6666ff;
@scolor90: #669900;
@scolor91: #669933;
@scolor92: #669966;
@scolor93: #669999;
@scolor94: #6699cc;
@scolor95: #6699ff;
@scolor96: #66cc00;
@scolor97: #66cc33;
@scolor98: #66cc66;
@scolor99: #9933ff;
@scolor100: #66cc99;
@scolor101: #996600;
@scolor101: #66cccc;
@scolor102: #66ccff;
@scolor103: #66ff00;
@scolor104: #66ff33;
@scolor105: #66ff66;
@scolor106: #66ff99;
@scolor107: #66ffcc;
@scolor108: #66ffff;
@scolor109: #990000;
@scolor111: #990033;
@scolor111: #990066;
@scolor112: #990099;
@scolor113: #9900cc;
@scolor114: #9900ff;
@scolor115: #993300;
@scolor116: #993333;
@scolor117: #993366;
@scolor118: #993399;
@scolor119: #9933cc;
@scolor120: #996633;
@scolor121: #996666;
@scolor122: #996699;
@scolor123: #9966cc;
@scolor124: #9966ff;
@scolor125: #999900;
@scolor126: #999933;
@scolor127: #999966;
@scolor128: #999999;
@scolor129: #9999cc;
@scolor130: #9999ff;
@scolor131: #99cc00;
@scolor132: #99cc33;
@scolor133: #99cc66;
@scolor134: #99cc99;
@scolor135: #99cccc;
@scolor136: #99ccff;
@scolor137: #99ff00;
@scolor138: #99ff33;
@scolor139: #99ff66;
@scolor140: #99ff99;
@scolor141: #99ffcc;
@scolor142: #99ffff;
@scolor143: #cc0000;
@scolor144: #cc0033;
@scolor145: #cc0066;
@scolor146: #cc0066;
@scolor147: #cc0099;
@scolor148: #cc00cc;
@scolor149: #cc00ff;
@scolor150: #cc3300;
@scolor151: #cc3333;
@scolor152: #cc3366;
@scolor153: #cc3399;
@scolor154: #cc33cc;
@scolor155: #cc33ff;
@scolor156: #cc6600;
@scolor157: #cc6633;
@scolor158: #cc6666;
@scolor159: #cc6699;
@scolor160: #cc66cc;
@scolor161: #cc66ff;
@scolor162: #cc9900;
@scolor163: #cc9933;
@scolor164: #cc9966;
@scolor165: #cc9999;
@scolor166: #cc99cc;
@scolor167: #cc99ff;
@scolor168: #cccc00;
@scolor169: #cccc33;
@scolor170: #cccc66;
@scolor171: #cccc99;
@scolor172: #cccccc;
@scolor173: #ccccff;
@scolor174: #ccff00;
@scolor175: #ccff33;
@scolor176: #ccff66;
@scolor177: #ccff99;
@scolor178: #ccffcc;
@scolor179: #ccffff;
@scolor180: #ff0000;
@scolor181: #ff0033;
@scolor182: #ff0066;
@scolor183: #ff0099;
@scolor184: #ff00cc;
@scolor185: #ff00ff;
//-----------------
